/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 25 Jan 2024, 11:32:32 pm
    Author     : User
*/
#Btn_profile {
    -fx-background-image: url("/resources/user.png");
    -fx-background-size: 28px 28px; 
    -fx-background-repeat: no-repeat;
    -fx-background-position: right 48px center; 
    -fx-background-radius:20;
    -fx-padding: 0 20 0 0 ;
}

#Btn_order {
    -fx-background-image: url("/resources/order.png");
    -fx-background-size: 28px 28px; 
    -fx-background-repeat: no-repeat;
    -fx-background-position: right 46px center; 
    -fx-background-radius:20;
    -fx-padding: 0 27 0 0 ;
}

#Btn_invoice {
    -fx-background-image: url("/resources/invoice.png");
    -fx-background-size: 28px 28px; 
    -fx-background-repeat: no-repeat;
    -fx-background-position: right 25px center; 
    -fx-background-radius:20;
    -fx-padding: 0 27 0 0 ;
}

#Btn_status {
    -fx-background-image: url("/resources/status.png");
    -fx-background-size: 28px 28px; 
    -fx-background-repeat: no-repeat;
    -fx-background-position: right 44px center; 
    -fx-background-radius:20;
    -fx-padding: 0 27 0 0 ;
}

#Btn_report {
    -fx-background-image: url("/resources/report.png");
    -fx-background-size: 28px 28px; 
    -fx-background-repeat: no-repeat;
    -fx-background-position: right 44px center; 
    -fx-background-radius:20;
    -fx-padding: 0 25 0 0 ;
}
